# CIA World Factbook

In this project, we'll work with data from the CIA World Factbook, a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like the following:

- population — the global population.
- population_growth — the annual population growth rate, as a percentage.
- area — the total land and water area.

## Summary and Statistics
- Entries such as World, and Ocean are included in the dataset and may contain 0 or NONE in its columns.
- Anomolies in the dataset can be verified by visiting https://www.cia.gov/the-world-factbook/ (See Ethiopia)


- China with 1,367,485,388 and India with 1,251,695,584 are the countries with the most people
- South Sudan has the highest growth rate with 4.02%
- Only two countries have a more water than land, Vritish Indian Ocean Territory and the Virgin Islands.
- There are also entries for the world's oceans.  
- Ethiopia has no land in its entry, while the website shows over 1 million sqkm in land.  This seems be an error.
    - https://www.cia.gov/the-world-factbook/static/a4fed22ec4e788b2ddb29a1acfbdc1a0/ET-summary.pdf
- India will add the most to its population with about 15 million people
- Bulgaria has the highest death to birth ratio
- Macau and Monoco have the highest population to area ratio.
- Bangladesh, which was the highest in the previous list, does not even show up in the top 10.

Let's start by loading in our SQL extension and reading in the dataset.

In [148]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [149]:
%%sql
SELECT *
FROM sqlite_master
WHERE type = 'table'

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [150]:
%%sql
/*Return first five rows of fact database*/

SELECT *
FROM facts
LIMIT 5

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

#### Here are the descriptions for some of the columns:

- name — the name of the country.
- area— the country's total area (both land and water).
- area_land — the country's land area in square kilometers.
- area_water — the country's waterarea in square kilometers.
- population — the country's population.
- population_growth— the country's population growth as a percentage, calculated from a surplus (or deficit) of births over deaths and the balance of migrants entering and leaving a country.
- birth_rate — the country's birth rate, or the number of births per year per 1,000 people.
- death_rate — the country's death rate, or the number of death per year per 1,000 people.
- migration_rate — the difference between the number of persons entering and leaving a country during the year per 1,000 persons.

## Checking the Data

In [151]:
%%sql
/* Return the minumum and maximum of population and population growth */

SELECT min(population), max(population), min(population_growth), max(population_growth)
FROM facts

Done.

[(0, 7256490011, 0.0, 4.02)]

In [152]:
%%sql
/* Returns the country names with the least and most population */

SELECT name, min(population) as population
FROM facts

UNION ALL

SELECT name, max(population) as population
FROM facts

Done.

[('Antarctica', 0), ('World', 7256490011)]

### Observations:
- There's a country with a population of 0
- There's a country with a population of 7256490011 (or more than 7.2 billion people)

It seems like the table contains a row for the whole world, which explains the population of over 7.2 billion. It also seems like the table contains a row for Antarctica, which explains the population of 0. This seems to match the CIA Factbook page for Antarctica at the time.

Now that we know this, we should recalculate the summary statistics we calculated earlier — this time excluding the row for the whole world.

In [153]:
%%sql

/* Calculate Population Statistics excluding World*/
SELECT
       min(population) as min_pop, 
       max(population) as max_pop,
       min(population_growth) as min_pop_growth, 
       max(population_growth) as max_pop_growth
FROM facts
WHERE name <> 'World'

Done.

[(0, 1367485388, 0.0, 4.02)]

In [154]:
%%sql

/* Calculate Average Population and Area*/
SELECT avg(population) as average_population,
       avg(area) as average_area
FROM facts

Done.

[(62094928.32231405, 555093.546184739)]

To finish, we'll build on the query we wrote for the previous screen to find countries that are densely populated. We'll identify countries that have the following:

- Above-average values for population.
- Below-average values for area.

In [155]:
%%sql
/* Show the most densely populated countries with above average values for population and below average values for area */

SELECT name,
       population as abv_avg_pop,
       area as blw_avg_area,
       population / area AS pop_area_ratio
FROM facts
WHERE (abv_avg_pop > (SELECT avg(population) 
                         FROM facts))
AND   (blw_avg_area < (SELECT avg(area) 
                         FROM facts))
ORDER BY 4 DESC

Done.

[('Bangladesh', 168957745, 148460, 1138),
 ('Philippines', 100998376, 300000, 336),
 ('Japan', 126919659, 377915, 335),
 ('Vietnam', 94348835, 331210, 284),
 ('United Kingdom', 64088222, 243610, 263),
 ('Germany', 80854408, 357022, 226),
 ('Thailand', 67976405, 513120, 132)]

### Observations
- Bangladesh seems to be the most densely populated area by a significant amount.
- Phillipines and Japan are similarly populated.


## More questions about the dataset:

Which country has the most people?

In [156]:
%%sql
/* Calculates the top 5 countries with most people, except for world */

SELECT f1.name as Country,
       f1.population as Population
FROM facts f1
WHERE name <> 'World'
order by 2 DESC
LIMIT 5

Done.

[('China', 1367485388),
 ('India', 1251695584),
 ('European Union', 513949445),
 ('United States', 321368864),
 ('Indonesia', 255993674)]

Which country has the highest growth rate?

In [157]:
%%sql
/* Show top 5 countries with the highest population growth rate */

SELECT name as Country, population_growth
FROM facts
ORDER BY 2 DESC
LIMIT 5

Done.

[('South Sudan', 4.02),
 ('Malawi', 3.32),
 ('Burundi', 3.28),
 ('Niger', 3.25),
 ('Uganda', 3.24)]

Which countries have the highest ratios of water to land? Which countries - have more water than land?

In [158]:
%%sql
/* Show countries with the highest ratio of water to land */

SELECT name as Country,
       area_land,
       area_water,
       ROUND(area_water / CAST(area_land AS float), 3) AS water_land_ratio
FROM facts
ORDER BY 4 DESC

Done.

[('British Indian Ocean Territory', 60, 54340, 905.667),
 ('Virgin Islands', 346, 1564, 4.52),
 ('Puerto Rico', 8870, 4921, 0.555),
 ('Bahamas, The', 10010, 3870, 0.387),
 ('Guinea-Bissau', 28120, 8005, 0.285),
 ('Malawi', 94080, 24404, 0.259),
 ('Netherlands', 33893, 7650, 0.226),
 ('Uganda', 197100, 43938, 0.223),
 ('Eritrea', 101000, 16600, 0.164),
 ('Liberia', 96320, 15049, 0.156),
 ('Bangladesh', 130170, 18290, 0.141),
 ('Gambia, The', 10120, 1180, 0.117),
 ('Taiwan', 32260, 3720, 0.115),
 ('Finland', 303815, 34330, 0.113),
 ('India', 2973193, 314070, 0.106),
 ('Canada', 9093507, 891163, 0.098),
 ('Sweden', 410335, 39960, 0.097),
 ('Colombia', 1038700, 100210, 0.096),
 ('Brunei', 5265, 500, 0.095),
 ('Guyana', 196849, 18120, 0.092),
 ('French Polynesia', 3827, 340, 0.089),
 ('Nicaragua', 119990, 10380, 0.087),
 ('Burundi', 25680, 2150, 0.084),
 ('Iran', 1531595, 116600, 0.076),
 ('United States', 9161966, 664709, 0.073),
 ('Tanzania', 885800, 61500, 0.069),
 ('Rwanda', 24668, 1670, 0.068),
 ('Vietnam', 310070, 21140, 0.068),
 ('Estonia', 42388, 2840, 0.067),
 ('Norway', 304282, 19520, 0.064),
 ('Armenia', 28203, 1540, 0.055),
 ('Tunisia', 155360, 8250, 0.053),
 ('Uzbekistan', 425400, 22000, 0.052),
 ('Indonesia', 1811569, 93000, 0.051),
 ('Suriname', 156000, 7820, 0.05),
 ('Albania', 27398, 1350, 0.049),
 ('Azerbaijan', 82629, 3971, 0.048),
 ('Ghana', 227533, 11000, 0.048),
 ('Russia', 16377742, 720500, 0.044),
 ('Togo', 54385, 2400, 0.044),
 ('Kyrgyzstan', 191801, 8150, 0.042),
 ('Lithuania', 62680, 2620, 0.042),
 ('Tonga', 717, 30, 0.042),
 ('Ukraine', 579330, 24220, 0.042),
 ('Gabon', 257667, 10000, 0.039),
 ('Turkmenistan', 469930, 18170, 0.039),
 ('West Bank', 5640, 220, 0.039),
 ('Hungary', 89608, 3420, 0.038),
 ('Latvia', 62249, 2340, 0.038),
 ('Japan', 364485, 13430, 0.037),
 ('Romania', 229891, 8500, 0.037),
 ('Burma', 653508, 23070, 0.035),
 ('Congo, Democratic Republic of the', 2267048, 77810, 0.034),
 ('Venezuela', 882050, 30000, 0.034),
 ('Pakistan', 770875, 25220, 0.033),
 ('Solomon Islands', 27986, 910, 0.033),
 ('Hong Kong', 1073, 35, 0.033),
 ('Switzerland', 39997, 1280, 0.032),
 ('China', 9326410, 270550, 0.029),
 ('Korea, South', 96920, 2800, 0.029),
 ('Moldova', 32891, 960, 0.029),
 ('Poland', 304255, 8430, 0.028),
 ('Iceland', 100250, 2750, 0.027),
 ('Montenegro', 13452, 360, 0.027),
 ('Nepal', 143351, 3830, 0.027),
 ('Botswana', 566730, 15000, 0.026),
 ('Cambodia', 176515, 4520, 0.026),
 ('Laos', 230800, 6000, 0.026),
 ('Ecuador', 276841, 6720, 0.024),
 ('Germany', 348672, 8350, 0.024),
 ('Italy', 294140, 7200, 0.024),
 ('Paraguay', 397302, 9450, 0.024),
 ('Belarus', 202900, 4700, 0.023),
 ('Bulgaria', 108489, 2390, 0.022),
 ('Israel', 20330, 440, 0.022),
 ('Papua New Guinea', 452860, 9980, 0.022),
 ('Senegal', 192530, 4192, 0.022),
 ('Czech Republic', 77247, 1620, 0.021),
 ('Chad', 1259200, 24800, 0.02),
 ('Ireland', 68883, 1390, 0.02),
 ('Kenya', 569140, 11227, 0.02),
 ('Brazil', 8358140, 157630, 0.019),
 ('Slovakia', 48105, 930, 0.019),
 ('Benin', 110622, 2000, 0.018),
 ('Tajikistan', 141510, 2590, 0.018),
 ('Turkey', 769632, 13930, 0.018),
 ('Austria', 82445, 1426, 0.017),
 ('Chile', 743812, 12290, 0.017),
 ('Lebanon', 10230, 170, 0.017),
 ('Mozambique', 786380, 13000, 0.017),
 ('Saint Lucia', 606, 10, 0.017),
 ('Argentina', 2736690, 43710, 0.016),
 ('Denmark', 42434, 660, 0.016),
 ('Guatemala', 107159, 1730, 0.016),
 ('Mali', 1220190, 20002, 0.016),
 ('Somalia', 627337, 10320, 0.016),
 ('New Caledonia', 18275, 300, 0.016),
 ('El Salvador', 20721, 320, 0.015),
 ('Jamaica', 10831, 160, 0.015),
 ('Panama', 74340, 1080, 0.015),
 ('Singapore', 687, 10, 0.015),
 ('Sri Lanka', 64630, 980, 0.015),
 ('Bolivia', 1083301, 15280, 0.014),
 ("Cote d'Ivoire", 318003, 4460, 0.014),
 ('Nigeria', 910768, 13000, 0.014),
 ('Spain', 498980, 6390, 0.013),
 ('Zambia', 743398, 9220, 0.012),
 ('Croatia', 55974, 620, 0.011),
 ('Macedonia', 25433, 280, 0.011),
 ('Mexico', 1943945, 20430, 0.011),
 ('Greece', 130647, 1310, 0.01),
 ('Zimbabwe', 386847, 3910, 0.01),
 ('Cuba', 109820, 1040, 0.009),
 ('Kazakhstan', 2699700, 25200, 0.009),
 ('Madagascar', 581540, 5501, 0.009),
 ('Swaziland', 17204, 160, 0.009),
 ('Australia', 7682300, 58920, 0.008),
 ('Belgium', 30278, 250, 0.008),
 ('Syria', 183630, 1550, 0.008),
 ('Belize', 22806, 160, 0.007),
 ('Dominican Republic', 48320, 350, 0.007),
 ('Haiti', 27560, 190, 0.007),
 ('Mongolia', 1553556, 10560, 0.007),
 ('Portugal', 91470, 620, 0.007),
 ('United Kingdom', 241930, 1680, 0.007),
 ('Uruguay', 175015, 1200, 0.007),
 ('Cameroon', 472710, 2730, 0.006),
 ('Egypt', 995450, 6000, 0.006),
 ('Jordan', 88802, 540, 0.006),
 ('Philippines', 298170, 1830, 0.006),
 ('Slovenia', 20151, 122, 0.006),
 ('France', 640427, 3374, 0.005),
 ('Mauritius', 2030, 10, 0.005),
 ('Malaysia', 328657, 1190, 0.004),
 ('Peru', 1279996, 5220, 0.004),
 ('Samoa', 2821, 10, 0.004),
 ('South Africa', 1214470, 4620, 0.004),
 ('Thailand', 510890, 2230, 0.004),
 ('Honduras', 111890, 200, 0.002),
 ('Iraq', 437367, 950, 0.002),
 ('Sierra Leone', 71620, 120, 0.002),
 ('Burkina Faso', 273800, 400, 0.001),
 ('Congo, Republic of the', 341500, 500, 0.001),
 ('Costa Rica', 51060, 40, 0.001),
 ('Cyprus', 9241, 10, 0.001),
 ('Djibouti', 23180, 20, 0.001),
 ('Guinea', 245717, 140, 0.001),
 ('Korea, North', 120408, 130, 0.001),
 ('Morocco', 446300, 250, 0.001),
 ('Namibia', 823290, 1002, 0.001),
 ('Afghanistan', 652230, 0, 0.0),
 ('Algeria', 2381741, 0, 0.0),
 ('Andorra', 468, 0, 0.0),
 ('Angola', 1246700, 0, 0.0),
 ('Antigua and Barbuda', 442, 0, 0.0),
 ('Bahrain', 760, 0, 0.0),
 ('Barbados', 430, 0, 0.0),
 ('Bhutan', 38394, 0, 0.0),
 ('Bosnia and Herzegovina', 51187, 10, 0.0),
 ('Cabo Verde', 4033, 0, 0.0),
 ('Central African Republic', 622984, 0, 0.0),
 ('Comoros', 2235, 0, 0.0),
 ('Dominica', 751, 0, 0.0),
 ('Equatorial Guinea', 28051, 0, 0.0),
 ('Fiji', 18274, 0, 0.0),
 ('Georgia', 69700, 0, 0.0),
 ('Grenada', 344, 0, 0.0),
 ('Kiribati', 811, 0, 0.0),
 ('Kosovo', 10887, 0, 0.0),
 ('Kuwait', 17818, 0, 0.0),
 ('Lesotho', 30355, 0, 0.0),
 ('Libya', 1759540, 0, 0.0),
 ('Liechtenstein', 160, 0, 0.0),
 ('Luxembourg', 2586, 0, 0.0),
 ('Maldives', 298, 0, 0.0),
 ('Malta', 316, 0, 0.0),
 ('Marshall Islands', 181, 0, 0.0),
 ('Mauritania', 1030700, 0, 0.0),
 ('Micronesia, Federated States of', 702, 0, 0.0),
 ('Monaco', 2, 0, 0.0),
 ('Nauru', 21, 0, 0.0),
 ('Niger', 1266700, 300, 0.0),
 ('Oman', 309500, 0, 0.0),
 ('Palau', 459, 0, 0.0),
 ('Qatar', 11586, 0, 0.0),
 ('Saint Kitts and Nevis', 261, 0, 0.0),
 ('Saint Vincent and the Grenadines', 389, 0, 0.0),
 ('San Marino', 61, 0, 0.0),
 ('Sao Tome and Principe', 964, 0, 0.0),
 ('Saudi Arabia', 2149690, 0, 0.0),
 ('Serbia', 77474, 0, 0.0),
 ('Seychelles', 455, 0, 0.0),
 ('Timor-Leste', 14874, 0, 0.0),
 ('Trinidad and Tobago', 5128, 0, 0.0),
 ('Tuvalu', 26, 0, 0.0),
 ('United Arab Emirates', 83600, 0, 0.0),
 ('Vanuatu', 12189, 0, 0.0),
 ('Yemen', 527968, 0, 0.0),
 ('Ashmore and Cartier Islands', 5, 0, 0.0),
 ('Christmas Island', 135, 0, 0.0),
 ('Cocos (Keeling) Islands', 14, 0, 0.0),
 ('Coral Sea Islands', 3, 0, 0.0),
 ('Heard Island and McDonald Islands', 412, 0, 0.0),
 ('Norfolk Island', 36, 0, 0.0),
 ('Macau', 28, 0, 0.0),
 ('Faroe Islands', 1393, 0, 0.0),
 ('Clipperton Island', 6, 0, 0.0),
 ('Saint Pierre and Miquelon', 242, 0, 0.0),
 ('Wallis and Futuna', 142, 0, 0.0),
 ('Aruba', 180, 0, 0.0),
 ('Curacao', 444, 0, 0.0),
 ('Sint Maarten', 34, 0, 0.0),
 ('Cook Islands', 236, 0, 0.0),
 ('Niue', 260, 0, 0.0),
 ('Tokelau', 12, 0, 0.0),
 ('Bouvet Island', 49, 0, 0.0),
 ('Jan Mayen', 377, 0, 0.0),
 ('Svalbard', 62045, 0, 0.0),
 ('Anguilla', 91, 0, 0.0),
 ('Bermuda', 54, 0, 0.0),
 ('British Virgin Islands', 151, 0, 0.0),
 ('Cayman Islands', 264, 0, 0.0),
 ('Falkland Islands (Islas Malvinas)', 12173, 0, 0.0),
 ('Gibraltar', 6, 0, 0.0),
 ('Guernsey', 78, 0, 0.0),
 ('Jersey', 116, 0, 0.0),
 ('Isle of Man', 572, 0, 0.0),
 ('Montserrat', 102, 0, 0.0),
 ('Pitcairn Islands', 47, 0, 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 122, 0, 0.0),
 ('South Georgia and South Sandwich Islands', 3903, 0, 0.0),
 ('Turks and Caicos Islands', 948, 0, 0.0),
 ('American Samoa', 199, 0, 0.0),
 ('Guam', 544, 0, 0.0),
 ('Navassa Island', 5, 0, 0.0),
 ('Northern Mariana Islands', 464, 0, 0.0),
 ('Wake Island', 6, 0, 0.0),
 ('Gaza Strip', 360, 0, 0.0),
 ('Paracel Islands', 7, 0, 0.0),
 ('Spratly Islands', 5, 0, 0.0),
 ('Western Sahara', 266000, 0, 0.0),
 ('Ethiopia', None, 104300, None),
 ('New Zealand', 267710, None, None),
 ('South Sudan', None, None, None),
 ('Sudan', None, None, None),
 ('Holy See (Vatican City)', 0, 0, None),
 ('European Union', None, None, None),
 ('Greenland', 2166086, None, None),
 ('French Southern and Antarctic Lands', None, None, None),
 ('Saint Barthelemy', None, None, None),
 ('Saint Martin', 54, None, None),
 ('Akrotiri', None, None, None),
 ('Dhekelia', None, None, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None),
 ('Antarctica', 280000, None, None),
 ('Arctic Ocean', None, None, None),
 ('Atlantic Ocean', None, None, None),
 ('Indian Ocean', None, None, None),
 ('Pacific Ocean', None, None, None),
 ('Southern Ocean', None, None, None),
 ('World', None, None, None)]

### Observations:
- China with 1,367,485,388 and India with 1,251,695,584 are the countries with the most people
- South Sudan has the highest growth rate with 4.02%
- Only two countries have a more water than land, Vritish Indian Ocean Territory and the Virgin Islands.
- There are also entries for the world's oceans.  
- Ethiopia has no land in its entry, while the website shows over 1 million sqkm in land.  This seems be an error.
- See https://www.cia.gov/the-world-factbook/static/a4fed22ec4e788b2ddb29a1acfbdc1a0/ET-summary.pdf

In [159]:
%%sql
/* Show Ethiopia's incorrect data */

SELECT name,
       area_land,
       area_water
FROM facts
WHERE name = 'Ethiopia'

Done.

[('Ethiopia', None, 104300)]

## Continuted: More questions about the dataset
Which countries will add the most people to their populations next year?

Since the population_growth_rate column already takens into account the birth, death, and migration columns, we can just multiply the growth percentage to the current population.

In [160]:
%%sql
/* Top 5 countries with the most population growth by number */

SELECT name Country,
       population,
       population_growth 'pop_gro_%',
       ROUND(population * (population_growth/100), 3) as 'pop_gro_#'
FROM facts
WHERE name <> 'World'
ORDER BY 4 DESC
LIMIT 5

Done.

[('India', 1251695584, 1.22, 15270686.125),
 ('China', 1367485388, 0.45, 6153684.246),
 ('Nigeria', 181562056, 2.45, 4448270.372),
 ('Pakistan', 199085847, 1.46, 2906653.366),
 ('Ethiopia', 99465819, 2.89, 2874562.169)]

Which countries have a higher death rate than birth rate?

In [161]:
%%sql
/* Top 5 Countries with highest death to birth ratio */

SELECT name Country,
       birth_rate,
       death_rate,
       ROUND(death_rate / birth_rate, 2) death_birth_ratio
FROM facts
WHERE death_rate > birth_rate
ORDER BY 4 DESC
LIMIT 5

Done.

[('Bulgaria', 8.92, 14.44, 1.62),
 ('Serbia', 9.08, 13.66, 1.5),
 ('Latvia', 10.0, 14.31, 1.43),
 ('Lithuania', 10.1, 14.27, 1.41),
 ('Hungary', 9.16, 12.73, 1.39)]

Which countries have the highest population/area ratio, and how does it compare to list we found in the previous screen?

In [162]:
%%sql
/* Top 10 countries that are the most dense, similar to earlier chart, but without constrained averages */

SELECT name,
       population,
       area,
       population / area AS pop_area_ratio
FROM facts
ORDER BY 4 DESC
LIMIT 10

Done.

[('Macau', 592731, 28, 21168),
 ('Monaco', 30535, 2, 15267),
 ('Singapore', 5674472, 697, 8141),
 ('Hong Kong', 7141106, 1108, 6445),
 ('Gaza Strip', 1869055, 360, 5191),
 ('Gibraltar', 29258, 6, 4876),
 ('Bahrain', 1346613, 760, 1771),
 ('Maldives', 393253, 298, 1319),
 ('Malta', 413965, 316, 1310),
 ('Bermuda', 70196, 54, 1299)]

### Obersvations
- India will add the most to its population with about 15 million people
- Bulgaria has the highest death to birth ratio
- Macau and Monoco have the highest population to area ratio.
- Bangladesh, which was the highest in the previous list, does not even show up in the top 10.

## Summary and Statistics
- Entries such as World, and Ocean are included in the dataset and may contain 0 or NONE in its columns.
- Anomolies in the dataset can be verified by visiting https://www.cia.gov/the-world-factbook/


- China with 1,367,485,388 and India with 1,251,695,584 are the countries with the most people
- South Sudan has the highest growth rate with 4.02%
- Only two countries have a more water than land, Vritish Indian Ocean Territory and the Virgin Islands.
- There are also entries for the world's oceans.  
- Ethiopia has no land in its entry, while the website shows over 1 million sqkm in land.  This seems be an error.
    - https://www.cia.gov/the-world-factbook/static/a4fed22ec4e788b2ddb29a1acfbdc1a0/ET-summary.pdf
- India will add the most to its population with about 15 million people
- Bulgaria has the highest death to birth ratio
- Macau and Monoco have the highest population to area ratio.
- Bangladesh, which was the highest in the previous list, does not even show up in the top 10.